<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- 強制使用ONNX Runtime庫，雖然minSdk不匹配（可能導致運行時錯誤） -->
    <uses-sdk tools:overrideLibrary="ai.onnxruntime" />
</manifest>
